In [11]:
import pandas as pd
import swifter

from datetime import datetime


train_series = pd.read_parquet("../data/train_series.parquet")
train_events = pd.read_csv(
    "../data/train_events.csv",
    parse_dates=["timestamp"],
)

In [14]:
train_events.dropna(subset=["timestamp"])

          series_id  night   event      step                  timestamp
0      038441c925bb      1   onset    4992.0  2018-08-14 22:26:00-04:00
1      038441c925bb      1  wakeup   10932.0  2018-08-15 06:41:00-04:00
2      038441c925bb      2   onset   20244.0  2018-08-15 19:37:00-04:00
3      038441c925bb      2  wakeup   27492.0  2018-08-16 05:41:00-04:00
4      038441c925bb      3   onset   39996.0  2018-08-16 23:03:00-04:00
...             ...    ...     ...       ...                        ...
14501  fe90110788d2     32  wakeup  547152.0  2017-09-05 09:26:00-04:00
14502  fe90110788d2     33   onset  556560.0  2017-09-05 22:30:00-04:00
14503  fe90110788d2     33  wakeup  560604.0  2017-09-06 04:07:00-04:00
14504  fe90110788d2     34   onset  574620.0  2017-09-06 23:35:00-04:00
14505  fe90110788d2     34  wakeup  581604.0  2017-09-07 09:17:00-04:00

[9585 rows x 5 columns]

In [ ]:
# convert step to int
train_events["step"] = train_events["step"].astype(int)

In [ ]:
# parse timestamp in train_series, same format as in train_events
train_series["timestamp"] = pd.to_datetime(train_series["timestamp"])

              series_id    step                 timestamp     anglez    enmo
0          038441c925bb       0  2018-08-14T15:30:00-0400   2.636700  0.0217
1          038441c925bb       1  2018-08-14T15:30:05-0400   2.636800  0.0215
2          038441c925bb       2  2018-08-14T15:30:10-0400   2.637000  0.0216
3          038441c925bb       3  2018-08-14T15:30:15-0400   2.636800  0.0213
4          038441c925bb       4  2018-08-14T15:30:20-0400   2.636800  0.0215
...                 ...     ...                       ...        ...     ...
127946335  fe90110788d2  592375  2017-09-08T00:14:35-0400 -27.277500  0.0204
127946336  fe90110788d2  592376  2017-09-08T00:14:40-0400 -27.032499  0.0233
127946337  fe90110788d2  592377  2017-09-08T00:14:45-0400 -26.841200  0.0202
127946338  fe90110788d2  592378  2017-09-08T00:14:50-0400 -26.723900  0.0199
127946339  fe90110788d2  592379  2017-09-08T00:14:55-0400 -31.521601  0.0205

[127946340 rows x 5 columns]

In [ ]:
train_series["timestamp"]

In [4]:
train_series.series_id.value_counts()

series_id
78569a801a38    1433880
f564985ab692    1052820
fb223ed2278c     918360
f56824b503a0     846360
cfeb11428dd7     809820
                 ...
c535634d7dcd     136080
1c7c0bad1263     115380
60e51cad2ffb     113940
3a9a9dc2cbd9     103500
349c5562ee2c      37080
Name: count, Length: 277, dtype: int64

In [5]:
train_events

          series_id  night   event      step                 timestamp
0      038441c925bb      1   onset    4992.0  2018-08-14T22:26:00-0400
1      038441c925bb      1  wakeup   10932.0  2018-08-15T06:41:00-0400
2      038441c925bb      2   onset   20244.0  2018-08-15T19:37:00-0400
3      038441c925bb      2  wakeup   27492.0  2018-08-16T05:41:00-0400
4      038441c925bb      3   onset   39996.0  2018-08-16T23:03:00-0400
...             ...    ...     ...       ...                       ...
14503  fe90110788d2     33  wakeup  560604.0  2017-09-06T04:07:00-0400
14504  fe90110788d2     34   onset  574620.0  2017-09-06T23:35:00-0400
14505  fe90110788d2     34  wakeup  581604.0  2017-09-07T09:17:00-0400
14506  fe90110788d2     35   onset       NaN                       NaN
14507  fe90110788d2     35  wakeup       NaN                       NaN

[14508 rows x 5 columns]